<h1 class="h5 ">MENU</h1>
<div class="list-group border border-info mb-4">
    <a href="{% url "admin_dashboard" %}" class="list-group-item list-group-item-primary list-group-item-action">Dashboard</a>
    <a href="{% url "clients" %}" class="list-group-item list-group-item-primary list-group-item-action">Clients</a>
    <a href="{% url "adminRegister" %}" class="list-group-item list-group-item-primary list-group-item-action">Register</a>
    <a href="" class="list-group-item list-group-item-primary list-group-item-action">Daily Deposites</a>
    <a href="" class="list-group-item list-group-item-primary list-group-item-action">Daily withdrawal</a>
    <a href="{% url "accountType" %}" class="list-group-item list-group-item-primary list-group-item-action">Acount Type</a>
    <a href="{% url "createAccountType" %}" class="list-group-item list-group-item-primary list-group-item-action"> Create Acount Type</a>
    <a href="" class="list-group-item list-group-item-primary list-group-item-action">Logs</a>
</div>