<h1 class="h5 ">MENU</h1>
<div class="list-group border border-info mb-4">
    <a href="{% url 'client_dashboard' %}" class="list-group-item list-group-item-primary list-group-item-action">Dashboard</a>
    <a href="{% url "client_profile" %}" class="list-group-item list-group-item-primary list-group-item-action">Profile</a>
    <a href="{% url "transfer" %}" class="list-group-item list-group-item-primary list-group-item-action">Transfer</a>
    <a href="{% url 'deposite' request.user.id %}" class="list-group-item list-group-item-primary list-group-item-action">Deposite</a>
    <a href="{% url 'withdrawal' request.user.id %}" class="list-group-item list-group-item-primary list-group-item-action">Withdrawal</a>
    <a href="" class="list-group-item list-group-item-primary list-group-item-action">Pay Bill</a>
    <a href="{% url "statement" request.user.id %}" class="list-group-item list-group-item-primary list-group-item-action">Statement</a>
</div>